

.school-search{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;

    &__text{
        flex: 1;
        padding: 15px;
        border: 1px solid $trib-gray4;
        border-right-width:0; 
    }

    &__btn{
        width: 50px;
        border: 1px solid $trib-gray4;
        border-left-width:0; 

        background: rgba($trib-blue2, .8);
        transition: background 150ms ease;
        cursor:pointer;
        
        &:hover, &:focus{
            background: rgba($trib-blue2, 1);
            transition: background 150ms ease;
        }
    }

}
