

.school-search{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    
    .awesomplete{
        flex: 1;
        box-sizing: border-box;
    }

    &__text{
        padding: 15px;
        border: 1px solid $trib-gray4;
        border-right-width:0; 
        box-sizing: border-box;
        width: 100%;
        font-size: 18px;
    }

    &__btn{
        width: 50px;
        border: 1px solid $trib-gray4;
        border-left-width:0; 

        background: rgba($school-highlight-color, .8);
        transition: background 150ms ease;
        cursor:pointer;
        
        &:hover, &:focus{
            background: rgba($school-highlight-color, 1);
            transition: background 150ms ease;
        }
    }

}
