.school__scores--parcc-legend{
	@include trib-legend();
    margin: 5px auto 25px auto;
    max-width: 210px;
    text-align: left;

	.box{
		@include trib-legend__box(0);

		&--dnm{
			background: $parcc-color-dnm;
		}

		&--pm{
			background: $parcc-color-pm;
		}

		&--a{
			background: $parcc-color-a;
		}

		&--m{
			background: $parcc-color-m;
		}

		&--e{
			background: $parcc-color-e;
		}
	}	

	.divider{
		margin: 10px 0 5px 0;
	}
}

.trb_mainContent .school__scores--parcc{
	@include clearfix();

	.score{
		// This accounts for the labeling translated to the top of the line;
	    padding-top: 20px;
	}

	.parcc{
		// individual scores
		background: red;
		float: left;
		height: $parcc-bar-height;

		display:flex;
		align-items: center;
		justify-content: center;

		box-sizing:border-box;
		border-right: 1px solid white;

		&:last-child{
			border-right:none;
			border-radius: 0 $parcc-bar-border-radius $parcc-bar-border-radius 0;
		}

		&:first-child{
			border-radius: $parcc-bar-border-radius 0 0 $parcc-bar-border-radius;
		}

		
		span{
			@include agate();
			// transform: translate(0, -2.1em);
		}
		

		// This will alternate the location of the labels, so those that would 
		// otherwise be overlapping will not.
		&:nth-child(odd) span{
			transform: translate(0, -2.1em);
		}	
		&:nth-child(even) span{
			transform: translate(0, 2.1em);
		}


		// Set color for different levels of achievement
		&--dnm{
			background: $parcc-color-dnm;
		}

		&--pm{
			background: $parcc-color-pm;
		}

		&--a{
			background: $parcc-color-a;
			border-right: 3px solid white;
		}

		&--m{
			background: $parcc-color-m;
			border-left: 3px solid white;
			span{
				font-weight: bold;
			}
		}

		&--e{
			background: $parcc-color-e;
						span{
				font-weight: bold;
			}

		}

	}
}

@media all and (min-width: $desktop-min-width){
	.trb_mainContent .school__scores--parcc .parcc{
		// Undo the alternation of labels. We should have enough room by now.
		&:nth-child(odd), &:nth-child(even){
			span{
				transform: translate(0, -2.1em);
			}	
		}
	}
}