// Enables Tribune colors, but is required for everything.
@import 'base-variables';

// ---- ADD MORE VARIABLES HERE ---------------------------------------------
// Breakpoints
$tablet-min-width:450px;
$desktop-min-width:850px;

$school-highlight-color:$trib-blue2;


// breaker
$stroke-width: 2px;
$icon-width: 28px;
$stroke-icon-width: 6px;

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';

// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@mixin distribute_across_columns($number_across, $gutter: 25px){
	// fallback
	width: 90% / $number_across;

	// PREFERRED -- Overall width, minus interior gutters, divided by number of items
	//  except when it's only 1 across, then just go with 100%;
	@if $number_across > 1{
		width: calc((100% - #{$gutter * $number_across - 1}) / #{$number_across});
	} @else {
		width: 100%;
	}

	// to seperate the buttons equally, we'll use margins right and bottom. Use the gutter width.
	margin: 0 $gutter $gutter 0;

	&:nth-child(#{$number_across}n){
		// The last button of every row needs the margin-right removed since the width calculation
		// only accounts for gutters (i.e. margins right) on interior buttons (i.e. num across - 1)
		margin-right: 0;
	}
}

// ---- TRIB CLASSES, UNCOMMENT THE ONES YOU WANT ---------------------------------------------
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
// @import 'form';
// @import 'pies';
// @import 'school';
// @import 'parcc-scores';
// @import 'sat-scores';
// @import 'demographics';
// @import "../node_modules/awesomplete/awesomplete";
@import 'breaker';
@import 'jquery.dataTables';

// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------
// MOBILE/DEFAULT STYLES ARE HERE.

.graphic-wrapper{
	// max-width: 650px;
	margin: 0 auto;
}

.trb_mainContent .credits {
	p{
		@include agate();
	}
}

.trb_mainContent .note{
	// Used, for example, in places where there are no scores
	@include sans-serif();
	font-style: italic;
	color: $trib-gray2;
	background: $trib-gray4;
	padding: 15px;
	margin: 15px 0;
	border-radius: 5px;
	box-sizing:border-box;

}



.trb_mainContent{
	.schools{
		@include trib-table();
		margin: 15px 0;

	}

	.school{
		// each tr in the tbody

		&__district{
			font-style: italic;
			display:block;
		}

		&__rank{
			font-weight: bold;
			font-size: .8em;
		}

		&.parent td.school__name{
			padding-left: 15px;
		}
	}

	.school.parent, .child{
		background-color: rgba($trib-blue5, .5);

		ul{
			list-style-type:none;
			padding: 0 0 0 15px;
			
			li{
				@include sans-serif();
			}
		}


	}

	.dataTables_filter, .dataTables_length, .dataTables_info, .dataTables_paginate{
		@include sans-serif();
		margin-bottom: 20px;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	    color: white !important;
	    border:none;
	    background: $trib-blue2;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	    color: black !important;
	    border: none;
	    background: $trib-gray4;
	}

}

@media all and (min-width: $tablet-min-width){
	.breaker{
		margin: 50px auto;
	}	
}

@media all and (min-width: $desktop-min-width){
	// ONLY CHANGES FOR DESKTOPS
}