{% block content %}
<div class='graphic-wrapper'>
<section class='intro'>
	{{ intro|markdown }} 
</section>
<section class='content'>
	 <form id='school-search' class='school-search'>
		 <input class='school-search__text' type='text' placeholder="Search for a school or district">
		 <button class='school-search__btn' type='submit'>X</button>
	</form>

	<div class='school'>
		<h2 class='school_name'> This is the school name</h2>
		<p class='school__district'>This is the district</p>
		<h3 class='school__scores-label'>The percentage of students ...</h3>
		<div class='school__demographics'>
			<dl class='demo'>
				<dt>XX%</dt>
				<dd>In special education</dd>
			</dl>
			<dl class='demo'>
				<dt>XX%</dt>
				<dd>Qualifying for free or reduced-price lunch</dd>
			</dl>
			<dl class='demo'>
				<dt>XX%</dt>
				<dd>Who are English language learners</dd>
			</dl>
			<dl class='demo'>
				<dt>XX%</dt>
				<dd>Who are not white</dd>
			</dl>

		</div>
		<h3 class='school__scores-label'>SAT Scores</h3>
		<ul class='school__scores'>
			<li class='score'>
				<span class='score__label'>Overall composite</span>
				<div class='score__chart'>
					<div class='act act--min' style='left: 0'>
						<span class='act__dot'></span>
						<span class='act__score'>1111</span>
					</div>
					<div class='act act--med' style='left: 50%'>
						<span class='act__dot'></span>
						<span class='act__score'>1111</span>
					</div>
					<div class='act act--max' style='left: 100%'>
						<span class='act__dot'></span>
						<span class='act__score'>1111</span>
					</div>
					<div class='act act--school' style='left: 63%'>
						<span class='act__dot'></span>
						<span class='act__score'>1111</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
<section class='credits'></section>
</div>

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
{# <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script> #}
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
{# <script src="//{{ ROOT_URL }}/js/app.min.js"></script> #}
<script>
(function(document) {
  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
{% endblock scripts %}
