{% block content %}
<div class='graphic-wrapper'>
	<div style='display:none;visibility: invisible;'>{% include 'img/sprite.svg' %}</div>
<section class='intro'>
	{{ intro|markdown }} 
</section>
<section class='content'>
	 <form id='school-search' class='school-search'>
		 <input class='school-search__text' type='text' placeholder="Search for a school or district">
		 <button class='school-search__btn' type='submit'>
			<svg class='icon icon--arrow' viewbox="0 0 25 25">
			  <use xlink:href="#magnifying-glass"></use>
			</svg>
		 </button>
	</form>
	<div class='school'>
		<h2 class='school__name'></h2>
		<p class='school__district'></p>
		<h3 class='school__scores-label'>{{ demo_label }}</h3>
		<div class='school__demographics'>
			<dl class='demo demo--special-ed'>
				<dt></dt>
				<dd>{{ demo_label_special_ed }}</dd>
			</dl>
			<dl class='demo demo--lunch'>
				<dt></dt>
				<dd>{{ demo_label_lunch }}</dd>
			</dl>
			<dl class='demo demo--ell'>
				<dt></dt>
				<dd>{{ demo_label_english }}</dd>
			</dl>
			<dl class='demo demo--non-white'>
				<dt></dt>
				<dd>{{ demo_label_nonwhite }}</dd>
			</dl>
		</div>
		<h3 class='school__scores-label'>{{ sat_scores }}</h3>
		<ul class='school__scores school__scores--legend'>
			<li class='score'>
				<span class='score__label'>{{ sat_scores_legend }}</span>
				<div class='score__chart'>
					<div class='test test--min' style='left: 0'>
						<span class='test__dot'></span>
						<span class='test__score'>{{ test_scores_min }}</span>
					</div>
					<div class='test test--med' style='left: 50%'>
						<span class='test__dot'></span>
						<span class='test__score'>{{ test_scores_median }}</span>
					</div>
					<div class='test test--max' style='left: 100%'>
						<span class='test__dot'></span>
						<span class='test__score'>{{ test_scores_max }}</span>
					</div>
					<div class='test test--school' style='left: 63%'>
						<span class='test__dot'></span>
						<span class='test__score'>{{ test_scores_school }}</span>
					</div>
				</div>
			</li>
		</ul>
		<ul id='school-scores' class='school__scores'></ul>
	</div>
</section>
<section class='credits'>
	{{ sources|markdown }}
	{{ credits|markdown }}
	{% if credits_noun_project %}{{ credits_noun_project|markdown }}{% endif %}
</section>
</div>

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
	window.ROOT_URL = "{{ ROOT_URL }}";
	window.testLabels = {
		ela: "{{ sat_scores_ela }}",
		math: "{{ sat_scores_math }}",
		overall: "{{ sat_scores_overall }}"
	};
(function(document) {
  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
{% endblock scripts %}
